* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: 'Domine', serif;
}

/* NAVBAR SECTION */

span{
    font-style: italic;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

header ul li a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
}


a {  
    color: black;
    margin:10px 0 10px 0;
    font-size: 50px;
    padding:10px 20px;
    text-decoration: none;
    background-color: rgb(66, 180, 180);
}

a:hover{
    color: rgb(164, 207, 207);
}

nav{   
    display: contents;
    justify-content: space-between;
    width:100%;
}

ul{
    display: inline-flex;
    font-size: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
}
 ul li a{
    font-family:'Domine', serif;
    color: rgb(66, 180, 180);
    display: flex;
}

.top-images{
    background-position:center;
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: stretch;
    margin:0 0 20px 0;
    background-size: cover;
    background: url("../assets/images/programming.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;

}


.avatar{
    padding:30px auto 30px 30px;
    margin:20px 0 30px 20px;
    position: relative;
    z-index: 1;
}

/* ABOUT ME SECTION */

.about-container{
    display: flex;
    flex: auto;
    justify-content: space-between;
    margin:30px auto 30px 200px;
    }

h2{
    color:black;
    font-size: 40px;
    font-family:'Domine', serif;
    margin:0 0;
    padding:20px;
}

p{
    max-width: 70%;
    padding:10px;
    margin:10px;
}
 

/* SECTION WORK */

 .main-site img{
     max-width: 90%;
    padding-left: 30px;
 }

 .main-site{
    border-left: solid 3px black;
 }
 .work-images{
     display:flex;
     flex: auto;
     justify-content:flex-start;
     padding:30px 100px 20px 0;
     margin-left: px;
 }
 .main-site a{
     /* position: absolute;
     margin-bottom: 10px;
     display:flex;
     justify-content: center; */
     width:20%;
     font-size:20px;
     padding:20px auto;
     z-index: 1;
    margin-left: 0px;
     
 }

 h2{
     margin-right: 0;
     display: flex;
     justify-content: right;
 }






 









