* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Domine', serif;
    background-color: #E8E1D9!important;
}

/* NAVBAR SECTION */

span{
    font-style: italic;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

header ul li a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
}
header a, h3 {
    background-color: rgb(66, 180, 180);
}

 header a{  
    color: black;
    margin:10px 0 10px 0;
    font-size: 50px;
    text-decoration: none;
}

a:hover{
    color: rgb(164, 207, 207)!important;
}

nav{   
    display: contents;
    justify-content: space-between;
    width:100%;
}

ul{
    display: flex;
    font-size: 20px;
    padding: 20px 50px 20px;
    gap:30px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    }
 ul li a{
    font-family:'Domine', serif;
    color: rgb(66, 180, 180);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.top-images{
    background-position:center;
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: stretch;
    margin:0 0 20px 0;
    background-size: cover;
    background: url("../assets/images/programming.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
}


.avatar img{
    width:200px;
    padding:30px auto 30px 50px;
    margin:30px 0 30px 50px;
    position: relative;
    z-index: 1;
}

/* ABOUT ME SECTION */

.about-container p{
    border-left: solid black;
}

#about-me{
   float: right;
   margin-right: 0;
    }

 div h2{
    color:black;
    font-size: 40px;
    font-family:'Domine', serif;
    margin:0 0;
    padding:20px;
}

p{
    max-width: 100%;
    padding:20px 50px 20px 50px;
    margin:20px auto 30px auto;
}
 

/* SECTION WORK */

.link-images a{
font-size: 20px;
color: black;
width:100%;
}

#work{
    margin-right:30px;
    float: right;
}

.container-top{
  padding:30px;
}

.site-one{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 80%;
    justify-content: flex-end;

}



.drumKit-link {
  position: relative;
 
}

.drumKit-link img{
    position: relative;
    float: right;
    width: 90%;
    border:solid 4px rgb(66, 180, 180);
    
}

.drumKit-link p{
    background-color: rgb(66, 180, 180);
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    padding:5px 10px 5px 10px;
}


.drumKit-link img:hover{
    opacity: 0.5;
}

.images-container{
 padding:30px 20px 50px;
}

.site-link{
    position:relative;
}

.site-link img{
    width:90%;
    margin:20px 30px 20px 30px;
    border:solid 4px rgb(66, 180, 180);
}


.site-link img:hover{
    opacity: 0.5;
}

.site-link p{
    position:absolute;
    float: left;
    background-color:rgb(66, 180, 180);  
    padding:5px 10px 5px 10px;
}


/* SECTION CONTACT ME */

 footer{
   
 }

 h2{
     background-color:#E8E1D9 ;
     margin-top:0;
     font-size: 20px;
     font-weight: bold;
 }

 footer p a{
   align-content: center;
   justify-content: center;
   color:black;
 }

 .contact-info{
     gap:20px;
     font-size: 20px;
     border-left: solid 2px black;
     padding-right: 50px;
     padding-top: 20px;
 }
 .contact-info a{
     color: black;
     margin-left: 0;
     text-decoration: none;
     padding-left: 50px;
     
 }

 .rights p{
     font-size: 16px;
     color: rgb(129, 129, 129);
     text-align: center;
     margin: 20px auto;
 }

 @media screen and (max-width:980px){
     #about-me{
         float: unset;
         text-align: center;
     }
     .about-container p{
         border-left: none;
     }

    div #work{
        float: unset;
        text-align: center;
    }

     .container-top{
         text-align: center;
         width:100%;
     }
     footer{
         text-align: center;
         
     }
    
 } 

 @media screen and (max-width:768px) {
     header{
         display:inline-block;
         flex-direction:row;
         justify-content: center;
     }

     header a{
         max-width:100%;
         display: flex;
         justify-content: center;
     }

     .avatar img{
         width:100px;
     }

     ul{
         display: inline-block;
         flex-wrap: wrap;
         justify-content: center;
         padding:5px auto 5px auto;
         margin:0 auto;
     }

     li a{
         display: inline-block;
         flex-wrap: wrap;
         flex-direction: column;
         justify-items: center; 
     }

    .top-images{
       max-width: 100%;
    }
    .about-container p{
        text-align: center;
       
    }
    #about-me{
        float: unset;
        text-align: center;
    }

    .contact-info a{
        max-height: 100%;
    }

    .contact-info a{
        padding-left:25px;
        font-size: 15px;
    }
 }

@media screen and (max-width:575px) {

  .drumKit-link{
      text-align: center;
  }
   
    .contact-info a{
        display: inline-flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    div .site-link{
        width: 100%;
    }

}
    
    



 











 









