

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



body{
    font-family: 'Domine', serif;
    background-color: rgb(74, 150, 198)!important;
}


/* NAVBAR SECTION */

span{
    font-style: italic;
    font-family: 'Comforter', 'cursive' !important;
    font-weight: bolder;
}


header{
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

header ul li a{
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    font-size: 20px;
}

header a h3{
    font-family: 'Domine', serif;
    font-weight: bold;
}

header a{  
    color: black;
    margin:10px 0 10px 0;
    font-size: 50px;
    text-decoration: none;
    background-color: rgb(74, 150, 198)!important;
    font-family: 'Domine', serif;
    padding-left: 20px;
    padding-right:20px;
}

a:hover{
    color: rgb(164, 207, 207)!important;
    text-decoration: none;
}

nav{   
    display: contents;
    justify-content: space-between;
    width:100%;
    font-family: "'Domine', serif" !important;
    font-weight: 'bolder!default';
}

ul{
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 50px 20px;
    gap:30px;
    list-style-type: none;
    justify-content: center;
    align-items:center;
    padding-right:30px;
    }

 ul li{
    color: rgb(74, 150, 198)!important;
    display: flex;
    margin-bottom: 0;
}

.top-images{
    background-position:center;
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: stretch;
    margin:0 0 20px 0;
    background-size: cover;
    background: url("../assets/images/programming.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
}


.avatar img{
    width:200px;
    padding:30px auto 30px 50px;
    margin:30px 0 30px 50px;
    position: relative;
    z-index: 1;
}

/* ABOUT ME SECTION */

.about-container p{
    border-left: solid black;
}

#about-me{
   float: right;
   margin-right: 0;
    }

 div h2{
    color:black;
    font-size: 40px;
    font-family:'Domine', serif;
    margin:0 0;
    padding:20px;
    background-color: rgb(74, 150, 198)!important;
}

p{
    max-width: 100%;
    padding:20px 50px 20px 50px;
    margin:20px auto 30px auto;
}
 

/* SECTION WORK */



#work{
    margin-right:30px;
    float: right;
}

/* IMAGES AND INFORMATION */

.link-images a{
color: black;
width:50%;
text-decoration: none;
padding-bottom: 10px;
padding-left: 20px;
}


.container-top{
  padding:30px;
}

.site-one{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 80%;
    justify-content: flex-end;

}


/* ICON GITHUB FOR THE IMAGES */0
.icon-github{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top: 0;
}

/* CARD TITLE AND PARAGRAPH */

.card-title{
    text-align: center;
    margin:10px auto 20px;
    font-family: 'Comforter', 'cursive' !important;
    font-weight: bold;
}


.card-text, p{
    color:black;
    font-family: 'Domine', serif;
    font-size: 14px;
}


.site-link img{
    width:100%;
    margin:20px auto 20px;
    border-radius:0 25px 0 25px;
    box-shadow: 10px 15px 20px black;
}

.site-link img:hover{
    opacity: 0.5;
}

.site-link  p{
    text-align: center;
    margin-top: 0;
}

.card-body{
    background-color: rgb(74, 150, 198)!important;
    padding: 0 10px 0;
    width:90%;
    border-radius: 5px 5px 15px 15px;
}





/* SECTION CONTACT ME */


 h2{
     font-size: 20px;
     font-weight: bold;
 }
 footer{
    padding-left: 50px;
    padding-top: 50px;
    
 }

 .card-body{
     margin-block:auto;
 }

 footer p a{
   align-content: center;
   justify-content: center;
   color:black;
   
 }

 .contact-info{
     font-size: 20px;
     border-left: solid 2px black;
     padding-top: 20px;
 }
 .contact-info a{
     color: black;
     margin-left: 0;
     text-decoration: none;
     padding-left: 50px;
 }

 .rights p{
     font-size: 16px;
     color: rgb(17, 5, 5);
     text-align: center;
     margin: 20px auto;
 }

 .icon-terminal{
    color:rgb(128, 226, 36);
}

/* BREAKPOINT  */

 @media screen and (max-width:980px){

    header a{
        width:100%;
        display: inline-block;
    }

    header{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

    }

    header ul li a{
        display: inline-block;
        font-size: 16px;
        justify-content: center;
    }

    ul li a{
        display: inline-flex;
        justify-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    h2
     
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section{
    display: flex !important;
}
     #about-me{
         float: unset;
         text-align: center;
     }
     .about-container p{
         border-left: none;
     }

    div #work{
        float: unset;
        text-align: center;
    }

     .container-top{
         text-align: center;
     }

     .contact-info a{
         border-style:none;
     }
     footer{
         text-align: center;
         padding-left: 0;
     }
    
 } 

 @media screen and (max-width:768px) {
     header{
         display:inline-block;
         flex-wrap: wrap;
         flex-direction:row;
         justify-content: center;
     }

     header a{
        /* max-width:100%; */
         display:block;
         justify-content: flex-start;
         font-family: 'Domine', serif ;
         text-align: center;
     }

     .avatar img{
         width:100px;
     }
     ul{
         margin-right:0;
     }

     li a{
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
     }

    .top-images{
       max-width: 100%;
    }
    .about-container p{
        text-align: center;
       
    }
    #about-me{
        float: unset;
        text-align: center;
    }

    .contact-info a{
        max-height: 100%;
    }s
    .contact-info a{
        padding-left:25px;
        font-size: 15px;
    }
 }

@media screen and (max-width:575px) {

    header a{
        text-align: center;
        font-size: 40px;
    }
    ul {
        display: inline-block;
        flex-wrap: wrap;
        margin-left: 0;
    }

    li a{
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
    }
  
   
    .contact-info a{
        display:flexbox;
        flex-wrap: wrap;
        padding-bottom: 20px;
        justify-content:space-between;
        padding-left: 10px;
        width:16px;
    }
    .contact-info{
        border-style: none;
    }

    div .site-link{
        width: 100%;
    }
   

}
    
    



 











 









